<div class="jumbotron">
    <h1>Pizzaria UDS</h1>
    <p class="lead">Aplicação Back end</p>    
</div>
<div class="row">
    <h2>EndPoinst Disponíveis</h2>
    <p>
        <label>Lista Todos os Tamanhos de Pizza</label>
        <br />
        <label>Parâmetros: Não Há</label>
        <br />
        <a href="#" >\api\TamanhoPizza\get</a>
        <br />
        <label>Retorno: Coleção de Registros</label>
    </p>
    <br />

    <p>
        <label>Captura um tamanho de pizza por identificador "id"</label>
        <br />
        <label>Parâmetros: id : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\TamanhoPizza\get\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>

    <br />
    <p>
        <label>Lista Todos os Sabores de Pizza</label>
        <br />
        <label>Parâmetros: Não Há</label>
        <br />
        <a href="#">\api\SaborPizza\get</a>
        <br />
        <label>Retorno: Coleção de Registros</label>
    </p>
    <br />

    <p>
        <label>Captura um sabor de pizza por identificador "id"</label>
        <br />
        <label>Parâmetros: id : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\SaborPizza\get\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>
    <br />

    <p>
        <label>Lista Todos os Adicionais da Pizza</label>
        <br />
        <label>Parâmetros: Não Há</label>
        <br />
        <a href="#">\api\AdicionalPizza\get</a>
        <br />
        <label>Retorno: Coleção de Registros</label>
    </p>
    <br />

    <p>
        <label>Captura um Adicional de pizza por identificador "id"</label>
        <br />
        <label>Parâmetros: id : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\AdicionalPizza\get\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>
    <br />

    <p>
        <label>Permite ao usuário escolher o tamanho da pizza</label>
        <br />
        <label>Parâmetros: id : tamanho (Obrigatório)</label>
        <br />
        <a href="#">\api\Pedido\EscolhaTamanho\</a>
        <br />
        <label>Retorno: Um Registro</label>
        <br />
    </p>
    <br />

    <p>
        <label>Permite ao usuário escolher o tamanho da pizza</label>
        <br />
        <label>Parâmetros: tamanho : Inteiro, sabor : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\Pedido\EscolhaTamanho\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>
    <br />

    <p>
        <label>Permite ao usuário escolher o sabor da pizza</label>
        <br />
        <label>Parâmetros: pedidoId : Inteiro, sabor : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\Pedido\EscolhaSabor\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>
    <br />

    <p>
        <label>Permite ao usuário incluir adicionais a sua pizza</label>
        <br />
        <label>Parâmetros: adicionalId : Inteiro, pedidoId : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\Pedido\EscolhaAdicionais\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>
    <br />

    <p>
        <label>Permite ao usuário Vizulizar todas as informações do seu pedido</label>
        <br />
        <label>Parâmetros: adicionalId : Inteiro, pedidoId : Inteiro (Obrigatório)</label>
        <br />
        <a href="#">\api\Pedido\Get\</a>
        <br />
        <label>Retorno: Um Registro</label>
    </p>    
</div>
